.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 30px; /* Adjust the size of the icons */
    height: 30px; /* Adjust the size of the icons */
    margin: 0 10px; /* Increase the margin between icons */
  }