.contact-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contact-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.technology-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
  
.technology-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}