.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  flex-direction: row;
}

.intro-left-content {
  flex: 1;
}

.intro-right-content {
  flex: 1;
  padding-left: 40px;
}

.intro-name {
  color: #FFD700;
  font-size: 4rem;
}

.intro-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.intro-description {
  color: white;
  font-size: 1rem;
}

.intro-profile-img {
  width: 100%;
}

@media (max-width: 1000px) {
  .intro-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro-left-content {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .intro-right-content {
    padding-left: 0;
  }
}
