.skills-container-title {
  text-align: center;
  margin-bottom: 10px;
}

.skills-section {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.skills-container {
  width: 40%;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.skills-container-skill-container {
  display: flex;
  align-items: center;
}

.skills-container-skill-bar {
  flex: 1;
}

.skills-container-skill-level {
  height: 20px;
  background-color: dodgerblue;
}