body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  justify-content: center;
}

.homepage-container {
  display: flex;
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Align items vertically in the center */
  padding: 20px; /* Add padding around the content */
}

.left-content {
  flex: 1; /* Take up remaining space */
  padding-right: 20px; /* Add padding to the right */
}

.right-content {
  flex: 1; /* Take up remaining space */
  padding-left: 20px; /* Add padding to the left */
}

img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.skills-section {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.skills-category {
  margin-bottom: 20px;
  text-align: center; /* Align list elements to the left */
}

.skills-category h2 {
  color: #333; /* Dark grey color for category titles */
  margin-bottom: 10px;
}

.skills-category ul {
  list-style-type: none;
  padding: 0;
}

.skills-category ul li {
  margin-bottom: 5px;
}

.clickable-component {
  cursor: pointer; /* Change cursor to pointer on hover */
}

.col {
  margin: 50px; /* Adjust the margin value as needed */
}

.project-container {
  text-align: center; /* Center align content */
  margin-bottom: 20px; /* Add margin between project containers */
}

.project-image {
  width: 100%; /* Ensure the project image spans the full width of its container */
  max-width: 600px; /* Adjust maximum width of the image as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Add space between the image and title */
}

.project-title {
  margin-bottom: 10px; /* Add space between the title and technology icons */
}

.project-description {
  margin-bottom: 20px; /* Add margin at the bottom of the description */
}

.technology-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Add space between the icons and description */
}